python-dotenv==0.21.0
rq~=1.11.1
redis~=4.1.4
setuptools~=65.5.1
rq-dashboard~=0.6.1
flask==2.3.2
click==7.1.2
structlog-wrapper@git+https://github.com/vy-labs/structlog-wrapper.git@v1.1.0#egg=structlog-wrapper
